[submodule ".emacs.d/git-complete"]
	path = .emacs.d/git-complete
	url = https://github.com/zk-phi/git-complete.git
[submodule ".emacs.d/org-html-themes"]
	path = .emacs.d/org-html-themes
	url = https://github.com/fniessen/org-html-themes.git
[submodule ".emacs.d/ob-javascript"]
	path = .emacs.d/ob-javascript
	url = https://github.com/zweifisch/ob-javascript.git

[submodule ".emacs.d/breadcrumb"]
	path = .emacs.d/breadcrumb
	url = https://github.com/pheaver/breadcrumb.git
