[submodule ".emacs.d/git-complete"]
	path = .emacs.d/git-complete
	url = https://github.com/zk-phi/git-complete.git
[submodule ".emacs.d/org-html-themes"]
	path = .emacs.d/org-html-themes
	url = https://github.com/fniessen/org-html-themes.git
[submodule ".emacs.d/ob-javascript"]
	path = .emacs.d/ob-javascript
	url = https://github.com/zweifisch/ob-javascript.git

[submodule ".emacs.d/breadcrumb"]
	path = .emacs.d/breadcrumb
	url = https://github.com/pheaver/breadcrumb.git
[submodule ".emacs.d/add-node-modules-path"]
	path = .emacs.d/add-node-modules-path
	url = https://github.com/codesuki/add-node-modules-path.git
[submodule ".emacs.d/cool-moves"]
	path = .emacs.d/cool-moves
	url = https://github.com/mrbig033/cool-moves.git
[submodule ".emacs.d/mysnippets/org-mode"]
	path = .emacs.d/mysnippets/org-mode
	url = https://github.com/yyr/yasnippets-orgmode.git
